<div class="authPage">
  <!------------- Graphic-side Start ----------------->
  <div class="authPage__graphic">
    <div class="authPage__graphic-logo">
      <img src="assets/img/icon4Asset17mdpi.png" alt="" />
    </div>
    <div class="authPage__graphic-title">
      <h2 class="heading-2">Great Marketplace for Drone World</h2>
    </div>
    <div class="authPage__graphic-img">
      <img class="clouds" src="assets/img/icon4Asset3mdpi.png" alt="" />
      <img class="drone" src="assets/img/icon4Asset1mdpi.png" alt="" />
    </div>
  </div>
  <!------------- Graphic-side End ------------------->

  <!------------- Form-side Start -------------------->
  <div class="authPage__form">
    <!------------  Form containes 2 tab for Login and Register ---------->
    <div class="authPage__form-tab">
      <!------------------ Tabs Header ---------------------------------->
      <ul class="tab-header">
        <li [ngClass]="{ active: isSelected(1) }" (click)="setTab(1)">
          <span>Sign Up</span>
        </li>
        <li>
          or
        </li>
        <li [ngClass]="{ active: isSelected(2) }" (click)="setTab(2)">
          <span>Sign In</span>
        </li>
      </ul>

      <!------------------ Tabs Body ---------------------------------->
      <div class="tab-body" [ngSwitch]="tab">
         <!------------------ sign up Tab ----------------------------->
        <div *ngSwitchCase="1" [@tab]>
            <form action="">

                <div class="form__group">
                    <label for="email" class="form__label">Full Name</label>
                    <input
                        type="text"
                        class="form__input"
                        placeholder="Enter full name"
                        id="email"
                        required
                    />

                </div>
                <div class="form__group">
                    <label for="email" class="form__label">Email</label>
                    <input
                        type="email"
                        class="form__input"
                        placeholder="Enter Email address"
                        id="email"
                        required
                    />

                </div>

                <div class="form__group">
                    <label for="pass" class="form__label">Password</label>
                    <input
                        type="password"
                        class="form__input"
                        placeholder="Passwor"
                        id="pass"
                        required
                    />

                </div>
                <div class="form__group">
                    <label for="pass" class="form__label">Repeat Password</label>
                    <input
                        type="password"
                        class="form__input"
                        placeholder="Repeat Passwor"
                        id="pass"
                        required
                    />

                </div>

                <div class="form__radio-group">
                        <input type="radio" class="form__radio-input" id="small" name="size">
                        <label for="small" class="form__radio-label">

                        <span class="form__radio-button"></span>

                        </label>
                        <span>I've got all statement in </span> <a>Terms and conditions</a>
                    </div>

                 <div class="submit">
                        <button class="btn-primary"> Let's Go</button>
                        <span  >Do you have any account ?</span>
                 </div>

            </form>
        </div>
        <!------------------ sign in Tab ------------------------------>
        <div *ngSwitchCase="2" [@tab]>
            <form action="">
                <div class="form__group">
                    <label for="email" class="form__label">Email</label>
                    <input
                        type="email"
                        class="form__input"
                        placeholder="Enter Email address"
                        id="email"
                        required
                    />

                </div>

                <div class="form__group">
                    <label for="pass" class="form__label">Password</label>
                    <input
                        type="password"
                        class="form__input"
                        placeholder="Passwor"
                        id="pass"
                        required
                    />

                </div>

                  <div><a >-Sign Up with Google-</a></div>
                  <div><a>-Sign Up with FaceBook-</a></div>
                 <div class="submit">
                        <button class="btn-primary"> Log in</button>
                        <span  >Sinn Up plase ?</span>
                 </div>

            </form>
        </div>
      </div>
    </div>
  </div>
  <!------------- Form-side End ---------------------->

  <!------------- Menu-side Strat -------------------->
  <div class="authPage__menu">
    <img src="assets/img/icon4Asset8mdpi.png" alt="">
  </div>
  <!------------- Menu-side End ---------------------->
</div>
